body {
  margin: 0 auto;
  padding: 0;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
  background-position: top;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: #000000;
}

.wrapper, .wrapper_hotels {
  width: 1200px;
  text-align: center;
  margin: 0 auto;
}

.nav_list {
  display: flex;
  list-style: none;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

.nav_item {
  padding: 22px;
  width: 250px;
  background-color: white;
}

.intro {
  background-image: url('../img/polygon.png'), url('../img/background.jpg');
  background-position: -1px 456px, 0 0;
  background-repeat: no-repeat;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  margin-top: 0;
}


.intro p:first-of-type {
  font-size: 21px;
  font-weight: 800;
  line-height: 26px;
  display: block;
  width: 440px;
  margin-left: 380px;
  margin-bottom: 38px;
}




.logo {
  position: absolute;
  margin-left: -68px;
}

.welcome {
  margin-top: 76px;
}

.mini_wrap {
  margin-top: 79px;
  background-color: #ffffff;
  padding-top: 61px;
  padding-bottom: 56px;
}



.cards_list {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  display: flex;
  flex-wrap: wrap;
  list-style: none;

}

.card {
  height: 256px;
  width: 400px;
}



.wrapper_hotels {
  background-image: url('../img/filter_background.jpg');
}

.sort_list {
  display:flex;
  list-style: none;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}


.sort_list_item1 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 800;
  margin-left: 72px;
}

.sort_list_item2 {
  margin-left: 49px;
}

.sort_list_item3 {
  margin-left: 40px;
}

.sort_list_item4, .sort_list_item5 {
  margin-left: 33px;
}



.hotel_head {
  line-height: 26px;
  text-align: left;
}

.header {
  margin-top: 0;
}



.visually_hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.card_title {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}


.respond_head {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.search .button {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.details_button {
  text-transform: inherit;
  font-weight: 700;
}

.details_link {
  font-weight: 700;
}

.hotel_type {
  line-height: 26px;
}

.white_text {
  color: #ffffff;
  background-color: #81b3d2;
}

.advantages {
  text-align: center;
}

.booking {
font-weight: 800;
line-height: 26px;

}
.respond .button  {
  font-size: 21px;
  font-weight: bold ;
  text-transform: uppercase;
  line-height: 26px;
  width: 568px;
  height: 86px;
  background-color: #766357;
  color: #ffffff;
  border: none;
}

.find_button {
  font-size: 21px;
  font-weight: bold ;
  text-transform: uppercase;
  line-height: 26px;
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  color: #ffffff;
  border: none;
}

.search_form {
  color: white;
  margin-bottom: 31px;
}

.icon_back {
  background-color: #81b3d2;
  width: 46px;
  height: 48px;

}

.footer_menu {
 font-size: 21px;
 font-weight: 800;
 text-align: center;
 line-height: 26px;
}
